body,
html {
    height: 100%;
    color: white;
    align-items: center;
    background: #000000;
}

.game-title {
    text-align: center;
}

#game {
    position: relative;
    height: 90%;
}

canvas {
    border: thick double #32a1ce;
}